<div class="container">
  <form #signupForm="ngForm" (ngSubmit)="onSubmit()" class="col-12 col-lg-6 offset-lg-3 p-5">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        [(ngModel)]="name"
        #nameField="ngModel"
        name="name"
        type="text"
        class="form-control"
        id="name"
        aria-describedby="nameHelp"
        required
        pattern="[a-zA-Z]{3,20}"
        [ngClass]="{ 'is-invalid': nameField.dirty && nameField.errors }"
      />
      <div id="nameHelp" class="form-text">
        Must contain between 3 and 20 alphabetical characters
      </div>
      @if (nameField.dirty && nameField.errors?.['required']) {
        <div class="invalid-feedback">Name is required</div>
      }
      @if (nameField.dirty && nameField.errors && !nameField.errors['required']) {
        <div class="invalid-feedback">Name format is invalid</div>
      }
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        [(ngModel)]="email"
        #emailField="ngModel"
        name="email"
        email
        [ngClass]="{ 'is-invalid': emailField.dirty && emailField.errors }"
        type="email"
        class="form-control"
        id="email"
        required
      />

      @if (emailField.dirty && emailField.errors?.['required']) {
        <div class="invalid-feedback">Email required.</div>
      }
      @if (emailField.dirty && emailField.errors && !emailField.errors['required']) {
        <div class="invalid-feedback">Email format invalid.</div>
      }
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        [(ngModel)]="password"
        #passwordField="ngModel"
        name="password"
        type="password"
        class="form-control"
        id="password"
        aria-describedby="passwordHelp"
        required
        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&]).{8,}"
        [ngClass]="{ 'is-invalid': passwordField.dirty && passwordField.errors }"
      />
      <div id="passwordHelp" class="form-text">
        Must contain at least one number and one uppercase and lowercase letter, and at least 8 or
        more characters
      </div>
      @if (passwordField.dirty && passwordField.errors?.['required']) {
        <div class="invalid-feedback">password required.</div>
      }
      @if (passwordField.dirty && passwordField.errors && !passwordField.errors['required']) {
        <div class="invalid-feedback">password format invalid.</div>
      }
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input
        [(ngModel)]="confirmPassword"
        #confirmPasswordField="ngModel"
        name="confirmPassword"
        type="password"
        class="form-control"
        id="confirmPassword"
        required
        [ngClass]="{ 'is-invalid': confirmPasswordField.dirty && !isPasswordMatchValid() }"
      />
      @if (!isPasswordMatchValid()) {
        <div class="invalid-feedback">It doesn't match password.</div>
      }
    </div>

    <button
      [disabled]="signupForm.invalid || signupForm.pristine || !isPasswordMatchValid()"
      type="submit"
      class="btn btn-primary"
    >
      Créer mon compte
    </button>
  </form>
</div>
