<div class="container flex py-5">
  <!-- Header -->
  <div class="d-flex justify-content-center align-items-center mb-4 position-relative">
    <div class="form-group text-center">
      <label for="workDay" class="form-label fw-bold">Working Day</label>
      <input
        type="date"
        class="form-control"
        id="workDay"
        [ngModel]="selectedDate"
        (ngModelChange)="localStore.updateWorkdayDate($event)"
      />
    </div>
    @if (!localStore.hasNoPlannedTasks()) {
      <button class="btn btn-success align-self-end position-absolute end-0">
        Start the work day
      </button>
    }
  </div>

  @if (localStore.hasNoPlannedTasks()) {
    <app-empty-workday />
  } @else {
    @for (task of localStore.workday().taskList; track $index) {
      @if ($index === 0) {
        <h6 class="mt-2">Most important task</h6>
      } @else if ($index === 1) {
        <h6 class="mt-2">Tâches de seconde importance</h6>
      } @else if ($index === 3) {
        <h6 class="mt-2">Tâches restantes</h6>
      }

      <app-task-field
        [task]="task"
        (taskRemoved)="localStore.removeTask($index)"
        (taskUpdated)="localStore.updateTask($index, $event)"
      />
    }
  }

  @if (localStore.shouldDisplayAddButton()) {
    <!-- Add Task Link -->
    <div class="text-center">
      <button
        (click)="localStore.onAddTask()"
        class="btn btn-link text-muted"
        data-testid="add-task-button"
      >
        Ajouter une tâche
      </button>
    </div>
  }
</div>
